h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    /* object-fit: cover;
    object-position: center; */
}

body {
    text-decoration: none;
    list-style-type: none;

    font-family: 'Questrial', sans-serif;
}

/* Mobile */
.container {
    min-width: 320px;
    max-width: 480px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 30px;
    padding-right: 30px;

    padding-top: 80px;
    padding-bottom: 80px;

    /* outline: 2px solid red; */
}

/* Tablet */
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop */
@media screen and (min-width:1128px) {
    .container {
        max-width: 1128px;
    }
}

/* Mobile */
.title {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.05;
    text-align: center;

    color: #070707;
}

/* Tablet and > */
/* @media screen and (min-width:768px){
    .title {
        padding-top: 120px;
    }
} */

.undertitle {
    text-align: center;
    margin-bottom: 60px;

    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
}

.list {}

.item {
    text-decoration: none;
    list-style-type: none;
}

.link {
    text-decoration: none;
    list-style-type: none;

}

.button {}

.current {
    color: black;
}